<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sea.tetviet"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="tetviet.activity.AppTetViet"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name_lib"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tetviet.activity.MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize" />
        <activity android:name="com.ssa.lib.ads.FreeApp_Activity" >
        </activity>
        <activity
            android:name="tetviet.activity.PhotoActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="tetviet.activity.VideosActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="tetviet.activity.MusicActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="tetviet.activity.VerticalListSms"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/app_name" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
</manifest>